body
{   width: 80%;
    margin:auto;   
    /*padding:0;  */ 
    font-size:30px;   
    font-weight:bold; 
    text-align: center;
    font-family: "Microsoft YaHei",Georgia,Serif;
    vertical-align: middle; 
    /*padding-bottom: -20%;*/
}   
.main
{   
    width:80%; 
    height:80%; 
    text-align: center; 
    margin:10 auto; 
    margin-top: 5%;
    margin-bottom: 3%;  
}

.body_header
{
    display: block; 
    height: 10%; 
    width: 98%; 
    background:#1F9E85; 
    text-align: left; 
    vertical-align:middle; 
    padding-top:2%; 
    padding-left: 2%;
}
.foot_print
{
    display: block;
    width: 100%;
    background:green;
    color:#FFFFFF;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 15px;
    background: #1F9E85;
}

.vocabulary
{
    float:left ;
    width:65%;
    height:100%;
}

.rank
{
    float:left ;  
    width:35%; 
    height:100%; 
    background: #F0F0F0F0;
}
.item
{
    width: 30%; 
    float: left; 
    display: block; 
    text-align: center;
}
.value
{
    width: 60%; 
    float: left; 
    display: inline;
    background: #F0F0F0F0;
    text-align: left;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.table_cell
{
    border-right-style:none;
    border-left-style:none;
    border-top-style:none;
    border-bottom-style:none;
}

.msg_left
{
    float:left;
    width:40%;
    height:100%;
    
    
}

.rank_
{
    float:left ;  
    width:60%; 
    height:100%; 
    background: #F0F0F0F0;
}
.dynamic_notify
{
	display: block; 
	color:#FFFFFF; 
	/* background: red; */
	color:  black;
	width: 80%;
	margin-left: auto;
	margin-right: auto; 
	font-size: 20px;
	padding-bottom: 1.5%;
	padding-top: 1.5%;

	border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.voca_label
{
    font-size: 30px;
    text-align: right;
}

.input_label
{
    font-size: 25px;
    height: 35px;
}