$def with (voca_info,rank_info,uid,time_delay)

<DOCTYPE html>  
<html>  
<head>
<link rel="stylesheet" type="text/css" href="static/css/main.css"> 

<meta charset="UTF-8">  
<title>test</title>  
</head>  
<body>
	<div>
		
	</div>

<div id="main" class="main">

    <!-- 头部信息 -->
    <div class="body_header" >评价反馈<div style="width:50%; height:40px; left:50%;top:18px; font-size: 20px; text-align: right; position:absolute; z-index:2">hello, $uid&nbsp;&nbsp;&nbsp;&nbsp;</div></div>

    <!-- 身体信息 -->
    <div id="bodysss" style="display: block; width: 100%; margin:auto; height: 600px; ">
        
        <div style="display: block;width: 100%;">
            
        

        <div id="left" class="msg_left" >
            <div id="voc_id" class="voc_info" style="height: 25%; padding-top: 5%">
                说明:
            </div>

            <div id="voc_explain" class="voc_explain" style="font-size: 20px; height: 50%; padding-top: 2% padding-left: 2%; padding-left: 2%; text-align: left; font-weight:normal;">
                在前一组的单词测试中，在参与本组实验的所有被试中，你的表现情况如右图。
            </div>

            <div id="pronunce" class="pronunce" style="height: 25%;">
                <div style="display: inline; width: 45%;">
                    <!-- <input type="button" value="下一个单词" style="width: 40%; width: 20%" onclick="submit" /> -->
                    <button id="bton" style="width: 55%;border:1px solid #CCC; background-color:#CCC; font-size: 20px; height: 40px;" onclick="this.disabled=true;get_next()">继续实验</button>
                </div>
            </div>

        </div>

        <div id="right" class="rank_" >
        <div style="height: 5% font-size:5px">
        排行榜
        </div>
        <div id="table_rank" class="table_rank" style="height: 80%; text-align: center;">
        	
        </div>
        </div>
        </div>
    </div>

<script type="text/javascript">


var myDate = new Date();
var last_click=myDate.getTime();

var letf_time=$time_delay;
var origin_time=$time_delay;
function enable_click() 
{
    document.getElementById('bton').disabled=false;
    // body...
}

setTimeout('enable_click()',3000);

change_display();
function change_display()
{
    document.getElementById('bton').innerHTML='继续实验( '+letf_time+' s )';
    if(letf_time--==0)
        get_next();
    setTimeout("change_display()",1000);
}



console.log('work here');
var t_out = setTimeout("submit()",2000);
//setTimeout("get_next()", 30000);

draw_table();

var count=0;
//var letf_time=0;

function get_next()
{
    try
    {
        var value = document.getElementById('true_voc').innerHTML;

    }
    catch(err)
    {
        console.log(err);
        var value='a';
    }
	
	console.log(value);
	window.location.href='/next?voca_item=$voca_info'+'&uid='+'$uid';
}
    function submit() 
    {
        clearTimeout(t_out);
    	console.log(count);
    	t_out=setTimeout("submit()",3000);

        draw_table();
    	
    	count++;
        //window.location.href='/next';
        // body...
    }


    function draw_table()
    {
        var matrix=$:rank_info;
		//alert(matrix.length);
    	var row1=matrix.length;
    	var col1=4;
    	var div1=document.getElementById("table_rank");
        var tab="<table border='0' cellpadding='0' cellspacing='0' width='100%'  style='text-align: center;'>";
        //var tab="<table border='1' width='100%' height='100%' style='text-align: center;'>";
        //循环行
        tab+="<tr>";
	        tab+="<td class='table_meta'><b>排名信息</b></td>";
	        tab+="<td class='table_meta'><b>用户信息</b></td>";
	        tab+="<td class='table_meta'><b>本次正确</b></td>";
	        //tab+="<td class='table_meta'><b>全部正确</b></td>";
            // tab+="<td class='table_meta'><b>本次耗时</b></td>";
            // tab+="<td class='table_meta'><b>全部耗时</b></td>";
        tab+="</tr>";
        tab+="<hr/>";
        for (var row=0;row<matrix.length;row++)
        {
        	tab+="<tr>";
        	for (var col=0;col<matrix[row].length-3; col++)
        	{
        		tab+="<td class='table_cell'";
                if(row%2==0)
                {
                    tab+=" bgcolor='#cde6c7' ";
                }
                tab+=">"+matrix[row][col]+"</td>";
        	}
        	tab+="</tr>";
        }
        //tab+="<hr/>";

        tab+="</table>"
         div1.innerHTML=tab;
    }

</script>

<script type="text/javascript">
function tick()
{
    console.log('tick');
    var xmlhttp;
    if (window.XMLHttpRequest)
    {
        xmlhttp=new XMLHttpRequest();
    }
    else
    {
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            console.log('from server: ',xmlhttp.responseText);
        }
    }
    xmlhttp.open("GET","/tick?uid=$uid",true);
    xmlhttp.send();
}
setInterval("tick()",20000);
</script>


    <div id="foot_print" class="foot_print">
        单词记忆学习测试系统
    </div>

</div> 
</body>  
</html>