$def with (vocal_info, time_out,uid)

<DOCTYPE html>  
<html>  
<head>
<link rel="stylesheet" type="text/css" href="static/css/main.css"> 
<meta charset="UTF-8">  
<title>test</title>  
</head>  
<body>
	<div>
		
	</div>

<div id="main" class="main">

    <!-- 头部信息 -->
    <div class="body_header" >
        <p style="display: table-cell; color:#FFFFFF;">单词测试实验</p>
    </div>

    <!-- 身体信息 -->
    <div id="bodysss" style="display: block; height: 73%; width: 100% margin:auto">

        <div id="left" class="vocabulary" >
            <div id="voc_id" class="voc_info" style="height: 25%; padding-top: 5%">
                <div class="item">单词</div>
                <div id="true_voc" class="value">$vocal_info[0]</div>
            </div>

            <div id="voc_explain" class="voc_explain" style="height: 50%; padding-top: 2%">
                <div class="item">解释</div>
                <div class="value">$vocal_info[1]</div>
            </div>

            <div id="pronunce" class="pronunce" style="height: 25%;">
                <div class="item" style="width: 45%">
                    <!-- <embed height="100" width="100" src="./materia/horse.mp3"></embed> -->
                    <audio id="myAudio" controls>
                      <!-- <source src="/static/materia/horse.ogg" type="audio/ogg"> -->
                      <!-- <source src="/static/materia/horse.mp3" type="audio/mpeg"> -->
                      <source src="$vocal_info[2]" type="audio/mpeg">
                      Your browser does not support the audio element.
                    </audio>
                </div>
                <div style="display: inline; width: 45%;">
                    <!-- <input type="button" value="下一个单词" style="width: 40%; width: 20%" onclick="submit" /> -->
                    <button style="width: 40%; width: 20%" onclick="get_next()">下一个单词</button>
                </div>
            </div>

        </div>

        <div id="right" class="rank" >
        <div style="height: 5% font-size:5px">
        排行榜
        </div>
        <div id="table_rank" class="table_rank" style="height: 80%; text-align: center;">
        	
        </div>
        </div>
    </div>

<script type="text/javascript">
//setTimeout("submit();",3000);
console.log('work here');
//var t= setTimeout("submit()",2000);
setTimeout("get_next()", $time_out);



var count=0;
set_visibale(0);

function get_next()
{
	var value = document.getElementById('true_voc').innerHTML;
	console.log(value);
	window.location.href='/next?voca_item='+value+'&uid='+$uid;
}
 
    function set_visibale(count)
    {
    	if(count %5==0)
        {
        	document.getElementById("right").style.display='None';
        	document.getElementById("left").style.width='100%';
        }
        else
        {
        	document.getElementById("left").style.width='65%';
        	document.getElementById("right").style.display='inline';
        }
    }

</script>


    <div id="foot_print" class="foot_print">
        为了曹阳同学的毕业设计添砖加瓦！
    </div>

</div> 
</body>  
</html>