$def with (question_naire,uid,time_delay,title,describe,notify)

<DOCTYPE html>  
<html>  
<head>
<link rel="stylesheet" type="text/css" href="static/css/main.css"> 

<meta charset="UTF-8">  
<title>test</title>  
</head>  
<body>
	<div>
		
	</div>

<div id="main" class="main">

    <!-- 头部信息 -->
    <div class="body_header" >
        <p style="display: table-cell; color:#FFFFFF;">$title<div style="width:50%; height:40px; left:50%;top:18px; font-size: 20px; text-align: right; position:absolute; z-index:2">hello, $uid&nbsp;&nbsp;&nbsp;&nbsp;</div></p>
    </div>

    <!-- 身体信息 -->
    <div id="bodysss" style="display: block; height: 73%; width: 100%; margin:auto; text-align:center;">
    <div id="notify" style="display: block; width: 100%; padding-top: 2%;padding-bottom: 2%; text-align: left; font-size: 20px;">$describe</br>
            <table border='0' cellpadding='0' cellspacing='0' width='70%'  style='text-align: center;margin-left: auto;margin-right: auto;'>
                <tr>
                    <td>完全不同意</td>
                    <td>不同意</td>
                    <td>有点不同意</td>
                    <td>不确定</td>
                    <td>有点同意</td>
                    <td>同意</td>
                    <td>完全同意</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
            </table>
            <hr/>
        </div>
        <div style="display: block;width: 100%;height: 40px;"><!-- padding info will not display --></div>

        <div class="form_info" style="font-size: 20px; width: 80%;margin-left: auto;margin-right: auto; visibility: visible;">

        <form id="myForm" action="/qa" method="POST" onsubmit="return all_selected(this)" autocomplete="off" style="width: 80%;height: 60%;margin-left: auto;margin-right: auto; visibility: inherit;">
            <div id='qa_table' style="text-align: left;display: block">
                <div style="text-align: left;display: block">
                    1.我宁愿做那些我做得好的事, 而不愿意做那些我做得差的事。
                </div>
                <div style="display: block;width: 100%;height: 20px;"><!-- padding info will not display --></div>
                <div style="text-align: left;display: block; font-weight:normal; padding-left: 20px;">
                    <table border='0' cellpadding='0' cellspacing='0' width='70%'  style='text-align: center;margin-left: auto;margin-right: auto;'>
                        <td>
                            <label for="1_1">1</label>
                            <input type="radio" name="sex" id="1_1" /> 
                        </td>
                        <td>
                            <label for="1_2">2</label>
                            <input type="radio" name="sex" id="1_2" />
                        </td>
                        <td>
                            <label for="1_3">3</label>
                            <input type="radio" name="sex" id="1_3" /> 
                        </td>
                        <td>
                            <label for="1_4">4</label>
                            <input type="radio" name="sex" id="1_4" />
                        </td>
                        <td>
                            <label for="1_5">5</label>
                            <input type="radio" name="sex" id="1_5" /> 
                        </td>
                        <td>
                            <label for="1_6">6</label>
                            <input type="radio" name="sex" id="1_6" />
                        </td>
                        <td>
                            <label for="1_7">7</label>
                            <input type="radio" name="sex" id="1_7" /> 
                        </td>
                    </table>
                </div>
            </div>

			<div style="padding-top: 1%;"><input id="bton" disabled=true type="submit" value="提交答案( $time_delay s )"        style="border:1px solid #CCC; background-color:#CCC; font-size: 20px; width: 40%; height: 40px;" />
			</div>
		</form>
        </div>
        <div style="display: block;width: 100%;height: 30px;"><!-- padding info will not display --></div>

    </div>

<script type="text/javascript">
//setTimeout("submit();",3000);

var myDate = new Date();

var last_click=myDate.getTime();


var letf_time=$time_delay;
var origin_time=$time_delay;


function enable_click(status) 
{
    document.getElementById('bton').disabled=status;
    // body...
}

setTimeout('enable_click(false)',2000);
//change_display();

function change_display()
{
    document.getElementById('bton').value='提交答案( '+letf_time+' s )';
    --letf_time;
    if(letf_time<2)
    {
        enable_click(true);
    }
    if(letf_time==0)
        submit_();
    setTimeout("change_display()",1000);
}



function submit_() 
{
    if(all_selected())
    {
        enable_click(true);
        document.getElementById("myForm").submit();
    }
}

var qa_number=0;
var cell_num=7;

function draw_table()
{
    try 
    {
		var matrix= $:question_naire;
    	var row_num=matrix.length;

        qa_number=row_num;

    	var div1=document.getElementById("myForm");
        var inner_txt='';
        for(var item_num =0; item_num < row_num; item_num++)
        {
            inner_txt+='<div  style="text-align: left;display: block"> <div style="text-align: left;display: block">';
            inner_txt+=matrix[item_num];
            inner_txt+='</div><div style="display: block;width: 100%;height: 20px;"><!-- padding info will not display --></div><div style="text-align: left;display: block; font-weight:normal; padding-left: 20px;"><table border=\'0\' cellpadding=\'0\' cellspacing=\'0\' width=\'70%\'  style=\'text-align: center;margin-left: auto;margin-right: auto;\'>';
            var raid_info='';
            for(var raid_index=1;raid_index<=cell_num;raid_index++)
            {
                raid_info+='<td><label for="'+item_num+'_'+raid_index+'">'+raid_index+'</label><input type="radio" name="qa_'+item_num+'" id="'+item_num+'_'+raid_index+'" value="'+raid_index+'" class="selected_item" /> </td>';
            }
            inner_txt+=raid_info;
            inner_txt+='<tr style="display: none;"><td><input class="input_label" type="hidden"  name="uid" value="$uid" /></td></tr></table> </div> </div><div style="display: block;width: 100%;height: 40px;"><!-- padding info will not display --></div>';
        }
        {
            inner_txt+='<div style="display: block;width: 100%;height: 60px;"><!-- padding info will not display --></div><div style="padding-top: 1%;"><input id="bton" disabled=true type="submit" value="提交答案( $time_delay s )"style="border:1px solid #CCC; background-color:#CCC; font-size: 20px; width: 40%; height: 40px;" /></div>';
        }
         div1.innerHTML=inner_txt;
         //console.log(inner_txt);
    } catch (err) 
    {
        console.log(err);
    }
}


function draw_notify()
{
    try 
    {
        var matrix= $:notify;
        var row_num=matrix.length;
        cell_num=row_num;

        var div1=document.getElementById("notify");
        var inner_txt='';
        inner_txt+='$describe';
        inner_txt+='</br></br></br><table border=\'0\' cellpadding=\'0\' cellspacing=\'0\' width=\'70%\'  style=\'text-align: center;margin-left: auto;margin-right: auto;\'><tr>';
        for(var item_num =0; item_num < row_num; item_num++)
        {
            inner_txt+='<td width="'+Math.floor(100/row_num)+'%">'+matrix[item_num]+'</td>';
        }
        inner_txt+='</tr><tr>';
        for(var item_num =0; item_num < row_num; item_num++)
        {
            inner_txt+='<td width="'+Math.floor(100/row_num)+'%">'+(item_num+1)+'</td>';
        }
        
        inner_txt+='</tr></table><hr/></div>';
        div1.innerHTML=inner_txt;
        //console.log(inner_txt);

    } catch (err) 
    {
        console.log(err);
    }
}
draw_notify();
draw_table();

function all_selected()
{
	console.log('at first');
	var unfin=[];
    //var item_select = document.getElementsByClassName('selected_item');
    for(var index=0;index<qa_number;index++)
    {
    	var item_select = document.getElementsByName('qa_'+index);

	    console.log('qa_'+index);
	    console.log(item_select.length);

	    var is_selected=false;

	    for(var val_index=0;val_index< item_select.length; val_index++)
	    {
	        if((item_select[val_index].checked))
	        {
	        	is_selected=true;
	        	break;
	        }
	    }
	    if(!is_selected)
	    	unfin.push(index+1);
    }
    console.log('before');
    console.log(unfin);
    if(unfin.length>0)
    {
    	alert(unfin.join(', ')+'\n未完成选择！');
    	return false;
    }
    console.log('after');
    return true;
}

</script>

<script type="text/javascript">
function tick()
{
    console.log('tick');
    var xmlhttp;
    if (window.XMLHttpRequest)
    {
        xmlhttp=new XMLHttpRequest();
    }
    else
    {
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            console.log('from server: ',xmlhttp.responseText);
        }
    }
    xmlhttp.open("GET","/tick?uid=$uid",true);
    xmlhttp.send();
}
setInterval("tick()",20000);
</script>


    <div id="foot_print" class="foot_print">
        为了曹阳同学的毕业设计添砖加瓦！
    </div>

</div> 
</body>  
</html>