$def with (vocal_info,uid,time_delay)

<DOCTYPE html>  
<html>  
<head>
<link rel="stylesheet" type="text/css" href="static/css/main.css"> 

<meta charset="UTF-8">  
<title>test</title>  
</head>  
<body>
	<div>
		
	</div>

<div id="main" class="main">

    <!-- 头部信息 -->
    <div class="body_header" >
        <p style="display: table-cell; color:#FFFFFF;">问卷1：成就目标定向量表<div style="width:50%; height:40px; left:50%;top:18px; font-size: 20px; text-align: right; position:absolute; z-index:2">hello, $uid&nbsp;&nbsp;&nbsp;&nbsp;</div></p>
    </div>

    <!-- 身体信息 -->
    <div id="bodysss" style="display: block; height: 73%; width: 100%; margin:auto; text-align:center;">
    <div style="display: block; width: 100%; padding-top: 2%;padding-bottom: 2%; text-align: left; font-size: 20px;">
        请根据自己的实际情况，选择相应的答案。每个题目只选择一个答案，请不要多选或漏选，有七个候选项，每个候选项的分为不同等级，具体如下：</br>
            <table border='0' cellpadding='0' cellspacing='0' width='70%'  style='text-align: center;margin-left: auto;margin-right: auto;'>
                <tr>
                    <td>完全不同意</td>
                    <td>不同意</td>
                    <td>有点不同意</td>
                    <td>不确定</td>
                    <td>有点同意</td>
                    <td>同意</td>
                    <td>完全同意</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
            </table>
            <hr/>
        </div>
        <div style="display: block;width: 100%;height: 40px;"><!-- padding info will not display --></div>

        <div class="form_info" style="font-size: 20px; width: 80%;margin-left: auto;margin-right: auto; visibility: visible;">

        <form id="myForm" action="/qa" method="POST" autocomplete="off" style="width: 80%;height: 60%;margin-left: auto;margin-right: auto; visibility: inherit;">
            <div style="text-align: left;display: block">
                <div style="text-align: left;display: block">
                    1.我宁愿做那些我做得好的事, 而不愿意做那些我做得差的事。
                </div>
                <div style="text-align: left;display: block; font-weight:normal; text-align: center;">
                    <table border='0' cellpadding='0' cellspacing='0' width='70%'  style='text-align: center;margin-left: auto;margin-right: auto;'>
                        <td>
                            <label for="1_1">1</label>
                            <input type="radio" name="sex" id="1_1" /> 
                        </td>
                        <td>
                            <label for="1_2">2</label>
                            <input type="radio" name="sex" id="1_2" />
                        </td>
                        <td>
                            <label for="1_3">3</label>
                            <input type="radio" name="sex" id="1_3" /> 
                        </td>
                        <td>
                            <label for="1_4">4</label>
                            <input type="radio" name="sex" id="1_4" />
                        </td>
                        <td>
                            <label for="1_5">5</label>
                            <input type="radio" name="sex" id="1_5" /> 
                        </td>
                        <td>
                            <label for="1_6">6</label>
                            <input type="radio" name="sex" id="1_6" />
                        </td>
                        <td>
                            <label for="1_7">7</label>
                            <input type="radio" name="sex" id="1_7" /> 
                        </td>
                    </table>
                </div>
            </div>
            <div style="display: block;width: 100%;height: 40px;"><!-- padding info will not display --></div>
            <div style="text-align: left;display: block">
                    <div style="text-align: left;display: block">
                        2.对我来说，有机会做具有挑战性的工作是重要的。
                    </div>
                    <div style="text-align: left;display: block; font-size: 20px;font-weight:normal; text-align: center;">
                        <label for="1_1">1</label>
                        <input type="radio" name="2" id="1_1" /> 
                        <label for="1_2">2</label>
                        <input type="radio" name="2" id="1_2" />
                        <label for="1_3">3</label>
                        <input type="radio" name="2" id="1_3" /> 
                        <label for="1_4">4</label>
                        <input type="radio" name="2" id="1_4" />
                        <label for="1_5">5</label>
                        <input type="radio" name="2" id="1_5" /> 
                        <label for="1_6">6</label>
                        <input type="radio" name="2" id="1_6" />
                        <label for="1_7">7</label>
                        <input type="radio" name="2" id="1_5" /> 
                    </div>
                </div>
            <div style="display: block;width: 100%;height: 40px;"><!-- padding info will not display --></div>

            <div style="display: block;width: 100%;height: 60px;"><!-- padding info will not display --></div>
			<div style="padding-top: 1%;"><input id="bton" disabled=true type="submit" value="提交答案( $time_delay s )" style="border:1px solid #CCC; background-color:#CCC; font-size: 20px; width: 40%; height: 40px;" />
			</div>
		</form>
        </div>
        <div style="display: block;width: 100%;height: 30px;"><!-- padding info will not display --></div>

    </div>

<script type="text/javascript">
//setTimeout("submit();",3000);

var myDate = new Date();

var last_click=myDate.getTime();


var letf_time=$time_delay;
var origin_time=$time_delay;


function enable_click() 
{
    document.getElementById('bton').disabled=false;
    // body...
}

//setTimeout('enable_click()',5000);
change_display();
function change_display()
{
    document.getElementById('bton').value='提交答案( '+letf_time+' s )';
    if(--letf_time==-10)
        submit_();
    setTimeout("change_display()",1000);
}



function submit_() 
{
    //alert('going to submit form');
    document.getElementById("myForm").submit();
    // body...
}
setTimeout("submit_()",$time_delay*1000);

</script>


    <div id="foot_print" class="foot_print">
        为了曹阳同学的毕业设计添砖加瓦！
    </div>

</div> 
</body>  
</html>